.header__logo {
  margin: 0;
  padding: 0;
  width: 142px;
  height: 33px;
}
@media screen and (max-width: 900px) {
  .header__logo {
    margin-left: 27px;
  }
}
@media screen and (max-width: 425px) {
  .header__logo {
    width: 104px;
    height: 25px;
  }
}
