.header {
  margin: 45px auto 40px;
  max-width: 880px;
  transition: opacity 0.3s ease;
}
.header:hover {
  opacity: 0.6;
}
@media screen and (max-width: 900) {
  .header {
    max-width: 100%;
  }
}
